@charset "utf-8";
/* ------------------------------
   DESIGN/LAYOUT ELEMENTS
------------------------------ */
a:link,a:visited,a:active,a:hover { text-decoration: none; color: #000;}

#wrapper {
	padding: 50px 0;
	width: 100%;
	text-align: center;
}

/* ------------------------------
   CHAPTER ELEMENTS
------------------------------ */
#tabAccordion {
	margin: 0 auto;
	width: 800px;
	height: 550px;
	border: #aaa 1px solid;
	position: relative;
}

#tabAccordion dl {
	top: 0;
	left: 0;
	width: 800px;
	position: absolute;
}

#tabAccordion dl dt {
	top: 0;
	left: 0;
	width: 160px;
	position: absolute;
	background: #ebebeb;
	background: linear-gradient(to bottom,  #ebebeb 45%,#d8d8d8 55%);
	border-bottom: #aaa 1px solid;
	border-right: #aaa 1px solid;
	box-sizing: border-box;
}

#tabAccordion dl:nth-child(2) dt {
	left: 160px;
}

#tabAccordion dl:nth-child(3) dt {
	left: 320px;
}

#tabAccordion dl:nth-child(4) dt {
	left: 480px;
}

#tabAccordion dl:nth-child(5) dt {
	left: 640px;
	border-right: none;
}

#tabAccordion dl dt a {
	height: 50px;
	font-weight: bold;
	line-height: 50px;
	display: block;
	text-align: center;
	transition: all 0.2s linear;
}

#tabAccordion dl dt.btnAcv {
	background: #fff;
	border-bottom: none;
}

#tabAccordion dl dt:hover > a {
	background: #fff;
}

#tabAccordion dl dd {
	top: 50px;
	left: 0;
	padding: 30px;
	width: 100%;
	height: 500px;
	text-align: left;
	overflow-y: auto;
	display: none;
	position: absolute;
	box-sizing: border-box;
}

#tabAccordion dl dd p {
	padding-bottom: 2em;
	line-height: 2em;
}

/* ------------------------------
   MEDIAQUERIES LAYOUT
------------------------------ */
@media only screen and (max-width: 800px) {
	#tabAccordion {
		width: 100%;
		box-sizing: border-box;
	}

	#tabAccordion dl {
		width: 100%;
		box-sizing: border-box;
	}

	#tabAccordion dl dt {
		width: 25%;
	}

	#tabAccordion dl:nth-child(2) dt {
		left: 25%;
	}

	#tabAccordion dl:nth-child(3) dt {
		left: 50%;
	}

	#tabAccordion dl:nth-child(4) dt {
		left: 75%;
	}
}

/* ------------------------------
   MEDIAQUERIES[SP]LAYOUT
------------------------------ */
@media only screen and (max-width: 768px) {
	#tabAccordion {
		width: 100%;
		height: auto;
		border: none;
	}

	#tabAccordion dl {
		top: auto;
		left: auto;
		width: 100%;
		position: relative;
	}

	#tabAccordion dl dt {
		top: auto;
		left: auto;
		width: 100%;
		position: relative;
		border-bottom: #aaa 1px solid;
		border-right: none;
	}

	#tabAccordion dl:first-child dt {
		border-top: #aaa 1px solid;
	}

	#tabAccordion dl:nth-child(2) dt,
	#tabAccordion dl:nth-child(3) dt,
	#tabAccordion dl:nth-child(4) dt {
		left: auto;
	}

	#tabAccordion dl dt.btnAcv {
		border-bottom: #aaa 1px solid;
	}

	#tabAccordion dl dd {
		top: auto;
		left: auto;
		padding: 20px;
		width: 100%;
		height: auto;
		position: relative;
		border-bottom: #aaa 1px solid;
	}
}

@media only screen and (max-width: 800px) {
	/* ------------------------------
	   baseHeader
	------------------------------ */
	.baseHeader div {
		width: 96%;
		transition: all 0.3s ease-in-out;
	}
}

/* ------------------------------
   MEDIAQUERIES[SP]LAYOUT
------------------------------ */
@media only screen and (max-width: 768px) {
	body {
		min-width: 320px;
	}

	#wrapper {
		margin: 0 auto;
	}

	/* ------------------------------
	   baseHeader
	------------------------------ */
	.baseHeader div {
		padding: 15px 0;
		width: 100%;
		text-align: center;
	}

	.baseHeader div h1 {
		height: 40px;
		font-size: 1em;
		line-height: 40px;
	}

	.baseHeader div a {
		margin: 0 auto;
		top: auto;
		right: auto;
		width: 60%;
		position: relative;
	}

	.baseHeader div a:link,.baseHeader div a:visited,.baseHeader div a:active {
		text-decoration: none;
		color: #fff;
	}

	.baseHeader div a:hover {
		color: #fff!important;
		background: #000!important;
		text-decoration: none!important;
	}

	/* ------------------------------
	   baseFooter
	------------------------------ */
	.baseFooter {
		padding: 15px;
	}
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
}

html {
	-webkit-text-size-adjust: none;
}

img {
	vertical-align: bottom;
}

a {
	-webkit-tap-highlight-color: transparent;
}

strong {
	font-weight: bold;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

a:focus {
/*\*/
	overflow: hidden;
/**/
}

option {
	padding-right: 10px;
}

/* HTML5 ELEMENTS
------------------------------ */
header,article,aside,section,footer,
nav,menu,details,hgroup,summary {
	display: block;
}

/* ------------------------------
   COMMON ELEMENTS
------------------------------ */
body {
	font-size: 14px;
	line-height: 1.6em;
	font-family: "游ゴシック",YuGothic,"メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS P Gothic", Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	text-align: center;
	background: #fff;
}

#wrapper {
	text-align: center;
}

/* ------------------------------
   baseHeader
------------------------------ */
.baseHeader {
	text-align: center;
	background: #000;
}

.baseHeader div {
	margin: 0 auto;
	width: 800px;
	text-align: left;
	position: relative;
}

.baseHeader div h1 {
	height: 100px;
	font-size: 1.2em;
	line-height: 100px;
	color: #fff;
	font-weight: bold;
}

.baseHeader div a {
	padding: 0 20px;
	top: 35px;
	right: 0;
	height: 30px;
	color: #fff;
	font-size: 0.8em;
	line-height: 30px;
	text-align: center;
	display: block;
	border: #fff 1px solid;
	position: absolute;
	box-sizing: border-box;
}

.baseHeader div a:link,.baseHeader div a:visited,.baseHeader div a:active {
	text-decoration: none;
	color: #fff;
}

.baseHeader div a:hover {
	color: #000;
	background: #fff;
	text-decoration: none;
}

/* ------------------------------
   baseFooter
------------------------------ */
.baseFooter {
	padding: 15px 0;
	text-align: center;
	border-top: #bbb 1px solid;
}

.baseFooter small {
	color: #999;
	font-size: 0.6em;
}

/* ------------------------------
   CLEARFIX ELEMENTS
------------------------------ */
.cfx:before,
.cfx:after {
	content: " ";
	display: table;
}
.cfx:after {clear: both;}
.cfx {*zoom: 1;}
